
html {
    overflow-y: scroll;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    height: 100%;
    background: url(/assets/images/background.jpg);
    background-size: cover;
}

/* navbar */
.navbar-brand {
    background-color: rgb(218, 198, 236);
    font-size: larger;
    font-weight: bold;
    font-style: initial;
    padding: 20px;
    border: none;
}

.nav-item {
    z-index: 10;
    top: 0;
    padding: 10px;


}
.navbar-brandindex {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bolder;
    background-color: rgb(128, 74, 128);
    background-size: 400px;
    padding: 20px;
}

/* end of navbar */

hr {
    margin: 29px 0;
    height: 3px;
    background-color: #ddd;
    border: 20;
}

h3 {
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-weight: bold;
}

.Container {
    margin-top: 25px;
    margin-bottom: 100px;
    padding: 20px 10px;
    border: solid 1px #ddd;
    margin-left: 400px;
    margin-right: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mypicture {
    height: 200px;
    float: left;
    margin: 0 25px 25px 0;
    border: 1px solid #ddd;
}

p {
    margin-bottom: 20px;
    color: black;
    font-size: 14px;
    line-height: 1.8em;
    margin-top: -8px;
}


.contactContainer {
    margin-top: 25px;
    margin-bottom: 100px;
    padding: 20px 10px;
    border: solid 1px #ddd;
    margin-left: 400px;
    margin-right: 400px;
}

.portfolioContainer  {
    margin-top: 25px;
    margin-bottom: 100px;
    padding: 20px 15px;
    border: solid 1px #ddd;
    margin-left: 400px;
    margin-right: 550px;
}

.hrportfolio {
        margin-right: -100px;
        height: 3px;
        background-color: #ddd;
        border: 30;
    }
    

.img-responsive {  
    width: 270px;
    height: 206px;
    padding: 15%;
    margin-left: 1em;
 }


